<div class="mt-5">
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="d-flex justify-content-between">
        <h2>Quản Lý Nhân Viên</h2>
        <a href="âsdasdasd" class="btn btn-primary">Thêm Nhân Viên</a>
      </div>

      <hr />

      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Họ Tên</th>
            <th scope="col">Email</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Tên phòng ban</th>
            <th scope="col">Chức vụ</th>
            <!-- <th scope="col">Ngày nhận việc</th>
            <th scope="col">Lương cơ bản</th> -->
            <th scope="col">Trạng thái</th>
            <th scope="col">Hoạt động</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Nguyen Huu Hung</td>
            <td>nhh@gmail.com</td>
            <td>12345</td>
            <td>ADMIN</td>
            <td>ADMIN</td>
            <td>Hoạt động</td>
            <td >
              <a href="" class="btn btn-success">Xem</a>
              <a href="" class="btn btn-warning mx-2">Cập nhật</a>
              <a href="" class="btn btn-danger">Xóa</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
