<div class="mt-5">
    <div class="row">
      <div class="col-12 mx-auto">
        <div class="d-flex justify-content-between">
          <h2>Thêm chức vụ</h2>
          <%- include('../../partials/alert', { messages: messages, time: "5000" }) %>
        </div>
  
        <hr />
        <form action="/jobs/create" method="POST" style="width: 40%; margin: 0 auto;">
          <div class="form-group">
            <label for="positionName">Tên chức vụ</label>
            <input type="text" class="form-control" id="positionName" name="positionName" placeholder="Nhập tên chức vụ" required>
          </div>
          <button type="submit" class="btn btn-primary">Thêm</button>
        </form>
      </div>
    </div>
  </div>
  