<div class="mt-5">
    <div class="row">
      <div class="col-12 mx-auto">
        <div class="d-flex justify-content-between">
          <h4>Quản Lý Phòng Ban</h4>
          <a href="/departments/create" class="btn btn-primary">Thêm Phòng Ban</a>
        </div>
  
        <hr />
  
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Tên Phòng Ban</th>
              <th scope="col">Người Quản Lý</th>
              <th scope="col">SL Nhân Viên</th>
              <th scope="col">Hoạt động</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Kế Toán</td>
              <td>
                <div>hung</div>
                <div>nhh@gmail.com</div>
              </td>
              <td>12</td>
              <td >
                <a href="" class="btn btn-warning mx-2">Cập nhật</a>
                <a href="" class="btn btn-danger">Xóa</a>
              </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>IT</td>
                <td>
                  <div>Le Van A</div>
                  <div>levana@gmail.com</div>
                </td>
                <td>18</td>
                <td >
                  <a href="" class="btn btn-warning mx-2">Cập nhật</a>
                  <a href="" class="btn btn-danger">Xóa</a>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  